language: node_js
node_js:
  - 'stable'
sudo: false
addons:
  apt:
    packages:
      - xvfb
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
install:
  - npm install -g faucet eslint babel-cli babel-preset-es2015-node5 nightmare eslint-config-devenv babel-eslint
  - npm install
