language: node_js
sudo: false
addons:
  apt:
    packages:
      - xvfb
install:
  - npm install -g eslint babel-cli nightmare
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
